*{
    margin: 0;
    padding: 0;
    border-radius: border-box;
  
  }
  body {
   /* background-image: url(/assets/images/train.jpg); */
   font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    height: 100vh;
  }
  body a{
    color: #50a60e;
  }
  .textbox{
    width: 70%;
    color: #50a60e;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }
  .hero-btn{
    background: #f4008a;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
    border: 1px solid #fff;
    padding: 5px 10px;
    font-size: 15px;
  
  }
  .textbox i{
    font-size: 20px;
    color: aqua;
  }
  .textbox a{
    font-size: 24px;
    color: yellow;
    /* display: block; */
    font-style: italic;
  }
  .text{
    display: block;
  }
  nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
  }
  .nav-links{
    flex: 1;
    text-align: right;
  }
  .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }
  .nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 13px;
  }
  .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  .nav-links ul li:hover::after{
    width: 100%;
  }
  /*  */
  #course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
  }
  h1{
    font-size: 36px;
    font-weight: 600;
  }
  
  p{
    color: #777;
    font-size: 14px;
    font-family: 300;
    line-height: 22px;
    padding: 10px;
  }
  .row{
    margin-top: 5%;
    display:flex;
    justify-content: space-between;
  }
  .course-col{
    flex-basis: 31%;
    /* background: #fff3f3; */
    background: yellow;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
  }
  h3{
    font-weight: 600;
    text-align: center;
    margin: 10px 0;
  }
  .course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
  /* ......small screen........... */
  }
  @media(max-width:700px){
    .row{
      flex-direction: column;
    }
  }
 
  .campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
  }
  .campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    
  }
  .campus-col img{
    width: 100%;
    display: block;
    
  }
  .layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
  }
  .layer:hover{
    background: rgba(226,0,0,0.7);
  }
  .layer h3{
    width: 100%;
    font-weight: 500;
    color: white;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  }
  .layer:hover h3{
    bottom: 49%;
    opacity: 1;
  }
  .facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
  }
  .facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
  }
  .facilities-col img{
    width: 100%;
    border-radius: 10px;
   
  }
  
  .facilities-col p{
    padding: 0;
  
  }
  
  .facilities-col h3{
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
  
  }

  #footer{
    width: 100%;
    padding: 30px 0;
    text-align: center;
  }
  #footer h4{
      font-size: 36px;
      font-weight: 600;
      display: block;
      padding-left: 0;
      padding-top: 0;
  }
  
  .icons img{
    width: 50px;
    border-radius: 100%;
    margin-left: 20px;
  }
  .icons img:hover{
    background-color: #f44336;
    cursor: pointer;
  }